<!doctype html>
<html>

<head>
    <title>Disease Tree</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/style.css') }}">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background: url('https://www.technocrazed.com/wp-content/uploads/2015/12/Tree-wallpaper-to-use-as-background-1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            font-family: Roboto, Arial, sans-serif;
        }

        .main-block {
            margin-top: 10px;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 10px;
            text-align: center;
        }
    </style>

<body>
    <div class="main-block">
        <h1>Here is result</h1>
    </div>
</body>

</head>